@font-face {
  font-family: arubutus;
  src: url(fonts/Arbutus-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
}

main {
  background-color: #656661;
}

header {
  background-image: url(matrioska.jpg);
  background-size: cover;
  font-family: arubutus;
  border-width: 5px;

  padding: 10px;
}

main nav {
  padding: 2rem;
}
main nav button {
  margin-bottom: 1rem;
  padding: 10px;
}
h1 {
  font-family: arubutus;
  font-size: 3rem;
}

h2 {
  padding-top: 1rem;
  padding-left: 2rem;
  font-family: arubutus;
  font-size: 1.5rem;
  color: #bfc7d4;
  text-decoration: underline;
  text-decoration-color: white;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
}

article {
  border: 2px solid white;
  border-radius: 15px 50px;
  padding: 20px;
  margin: 1em;
  cursor: pointer;
}

button {
  background-color: #bfc7d4;
  color: white;
  border: none;
  display: flex;
}

.valgt {
  background-color: #367a8d;
  color: black;
}
img {
  width: 100%;
}

footer {
  background-color: #367a8d;
  padding: 30px;
}

footer h3 {
  font-family: arubutus;
  padding-bottom: 10px;
}

p {
  color: white;
}

.pris {
  font-weight: bolder;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav a {
  color: white;
  background-color: #367a8d;
  font-family: arubutus;
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #367a8d;
  overflow: scroll;
}

#popup article {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  border-radius: 15px 50px;
  padding: 12px;
  background-color: #bfc7d4;
  border: white;
  border-width: 8px;
  border-style: solid;
  cursor: default;
  color: white;
  padding: 20px;
}

#luk {
  position: fixed;
  padding: 1rem;
  font-size: 1.7em;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

@media (min-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    border-width: 10px;
    padding: 20px;
  }
  h1 {
    font-size: 7rem;
  }

  main nav {
    display: flex;
    justify-content: space-between;
  }

  header a {
    font-size: 2rem;
  }
}
